@charset "UTF-8";
/* CSS Document */

 {
  margin:0;
     padding:0;
     }

/* General Style Info */


body {
   background: #FFFFFF;
   color: #000000;
   font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
   font-size:80%;
   margin: 0;
}


#header{
   
   border-bottom: 8px solid #ff9a34;
   padding: 0;
   margin: 0;
   font-size: 80%;
}

#header h1 {
   background: #FFFFFF url('/images/logo_kl.gif') no-repeat right;
   height: 98px;
   width: 90%;
   color: #000000;
}

#header h1 a {
   color: #000000;
   background: none;
   font-weight: normal;
   text-decoration: none;
   
   margin: 30px;
}
#header h1 a:hover {
   color: #000000;
   background: none;
   text-decoration: none;
}


#content {
   background: #ffbf59;
   
   clear: both;
   color: #333;
   padding: 10px 20px 40px 20px;
   overflow: auto;
}



#button {
      margin-top: 5px;
      margin-bottom: 5px;
}

#applicantinput {
        background: #e8edff;
        padding: 10px 20px 10px 10px;
        width: 500px;
        margin-bottom: 20px;
}

#applicanttable
{
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        width: 900px;
        text-align: left;
        border-collapse: collapse;
}
#applicanttable thead th
{
        background: #b9c9fe;
        border: 1px solid #fff;
}


#applicanttable tbody tr:hover td
{
        background: #d0dafd;
}

#applicanttable th
{
        font-size: 14px;
        font-weight: normal;
        padding: 10px 20px;
        color: #039;
}
#applicanttable td
{
        padding: 8px;
        color: #669;
        background: #e8edff;
        border: 1px solid #fff;
        border: 1px solid #fff;
}
#applicanttable a
{
        color: #669;
}
#applicanttable .odd
{
        background: #e8edff;
}

/* tables */

#applicanttable thead tr .header { 
        background-image: url(bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
}

#applicanttable thead tr .headerSortUp { 
        background-image: url(asc.gif);
}
#applicanttable thead tr .headerSortDown { 
        background-image: url(desc.gif);
}

