<%inherit file="site.html" />

<div id="header">
         <h1><a href="http://wohnungswarteliste.office.fraubock.at/">Wohnungswarteliste</a></h1>

</div>

<div id="content">
<div id="warteliste" "clearfix">


<div id="applicantdetail">
<table id="applicanttable" summary="klienten in der wohnungswarteliste">
    <thead>
        <tr>
            <th scope="col" class="table-name">Typ</th>
            <th scope="col" class="table-name">Wert</th>
       </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nachname:</td>
            <td>${c.applicant.lastname}</td>
         </tr>
               
         <tr>
            <td>Vorname:</td>
            <td>${c.applicant.firstname}</td>
         </tr>
         <tr>
            <td>AIS:</td>
            <td>${c.applicant.ais}</td>
         </tr>
         <tr>  
            <td>Geburtstag:</td>
            <td>
               <script type="text/javascript">
                  var str="${c.applicant.birthdate}";
                  document.write(str.substring(0,10));
                 </script>
            </td>
         </tr>
         <tr> 
            <td>Herkunft:</td>
            <td>${c.applicant.origin}</td>
         </tr>
         <tr>
            <td>Kontakt:</td>
            <td>${c.applicant.contact}</td>
         </tr>
        <tr>
            <td>Anwesenheit:</td>
            <td>
% for presence in c.presence:
         <script type="text/javascript">
                  var str="${presence.date}";
                  document.write(str.substring(0,10));
                 </script>
                  <br>
% endfor
            </td>
         </tr>
         <tr>
            <td>Kommentar:</td>
            <td>${c.applicant.comment}</td>
         </tr>
         <tr>
            <td></td>
            <td><a href="/warteliste/change/${c.applicant.id}">Bearbeiten</a></td>
         </tr>
         <tr>
            <td></td>
            <td><a href="/warteliste/presence/${c.applicant.id}">Anwesenheit</a></td>
         </tr>
         <tr>
            <td></td>
            <td><a href="/">Zurueck</a></td>
         </tr>


      </tbody>
</table>
<br>
<br>

</div>
</div>
</div>

