<%inherit file="site.html" />

<script>
        $(document).ready(function(){
            $("#applicantform").hide();
            $("#button").click(function () {
                $("#applicantform").toggle("slow");
            });    
        });
    </script>

<script type="text/javascript">

function valueThere(value) {
                  var str=value;
                  if (str) {
                     return(str);
                  }
                  else
                  {
                     return("-");
                  }
};
</script>




<div id="header">
         <h1><a href="http://wohnungswarteliste.office.fraubock.at/">Wohnungswarteliste</a></h1>

      </div>

 
<div id="content">


<div id="warteliste" "clearfix">
<button id="button">Neuen Klient eintragen</button>
<form id="applicantform" method="GET" action="/">
  <div id="applicantinput">
    <input id="firstname" type="text" name="firstname" /> Vorname<br>
    <input id="lastname" type="text" name="lastname" /> Nachname<br>
    <input id="contact" type="text" name="ais" /> AIS<br>
    <input id="birthdate" type="text" name="birthdate" /> Geburtstag<br>
    <input id="origin" type="text" name="origin" /> Herkunft<br>
    <input id="contact" type="text" name="contact" /> Kontakt<br>
    <textarea name='comment' id='mceEditor' wrap=hard rows='3' cols='100'></textarea><br>
    <input type="submit" name="applicantsubmit" value="Submit" />
   </div>
</form>
 
<div id="applicantdetail">
<table id="applicanttable" summary="klienten in der wohnungswarteliste">
    <thead>
        <tr>
            <th scope="col" class="table-name">Name</th>
            <th scope="col" class="table-name">AIS</th>
            <th scope="col" class="table-birthdate">Geburtstag</th>
            <th scope="col" class="table-origin">Herkunft</th>
            <th scope="col" class="table-contact">Kontakt</th>
            <th scope="col" class="table-presence">Anwesenheit</th>
            <th scope="col" class="table-comment">Kommentar</th>
            <th scope="col" class="table-comment">Meldung</th>
            <th scope="col" class="table-comment">Bearbeiten</th>
        </tr>
    </thead>
    <tbody>
% for applicant in c.applicants:
        <tr>
            <td><a href="/warteliste/details/${applicant.id}">${applicant.lastname} ${applicant.firstname}</a></td>
            <td>
                 <script type="text/javascript">
                  str=valueThere("${applicant.ais}")
                  document.write(str)
                 </script>
            </td>
            <td><script type="text/javascript">
                  var str="${applicant.birthdate}";
                  if (str=="None") {
                     document.write("-");
                  }
                  else
                  {
                     document.write(str.substring(0,10));
                  }
                 </script></td>
            <td>
               <script type="text/javascript">
                  str=valueThere("${applicant.origin}")
                  document.write(str)
                 </script>
            </td>
            <td><a href="/warteliste/details/${applicant.id}">
                <script type="text/javascript">
                  str=valueThere("${applicant.contact}")
                  document.write(str)
                 </script>
                 </a></td>
            <td>${len(applicant.presences)}</td>
            <td><script type="text/javascript">
                  str=valueThere("${applicant.comment}")
                  document.write(str.substring(0,30));
                 </script><a href="/warteliste/details/${applicant.id}">...</a></td>
            <td><a href="/warteliste/presence/${applicant.id}">Anwesenheit</a></td>
            <td><a href="/warteliste/change/${applicant.id}">Bearbeiten</a></td>
        </tr>
% endfor
      </tbody>
</table>
 
</div>
</div>
</div>
